.profileContainer{
    flex-direction: column;
    /*align-items: flex-start;*/
}
.profileInfo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.profileInfo img {
    width: 180px;
    height: 180px;
}

.description{
}