.logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.header {
    grid-area: header;
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(8px + 2vmin);
    color: white;
    padding: 15px 20px;
}