.Navbar {
    grid-area: navbar;
    background-color: #68dafb;
    padding: 15px 35px;
}
.item a {
    color: white;
    text-decoration: none;
    margin-bottom: 25px;
}
.item a.activeLink {
    color: gold;
}