.navbarMenu {
    color: white;
    display: flex;
    gap: 15px;
    align-items: center;
}
.navbarMenu a {
    color: white;
    text-decoration: none;

}
.navbarMenu a.activeLink {
    color: #61dbfb;
}