.preloader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: no-repeat url("../../assets/images/preloader2.svg");
    background-size: cover;

}