.dialogsWrapper {
    grid-area: main;
    background-color: #edf6f9;
    padding: 15px 70px;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}
.messageWrapper {
    display: flex;
    gap: 25px;
    padding: 25px;
}
.dialogsWrapper img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.message {
    background-color: #83c5be;
    height: 100%;
    width: 250px;
    padding: 11px 15px;
    border-radius: 8px;
    position:relative;
}
.message:before {
    position: absolute;
    content: "";
    left: -13px;
    top: 34px;
    transform: scaleY(0.5) rotate(45deg);
    width: 30px;
    height: 30px;
    background-color: #83c5be;
}

.name {
    margin-bottom: 10px;
    color: #006d77;
}
.text {
    color: #2d3742;
}
.time {
    color: #87959a;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 14px;
}
.dialogsWrapper .contacts{
    margin-bottom: 10px;
    /*color: #282c34;*/
}
.contacts {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #006d77;
}
a .contacts {
    color: #006d77;
}



